* {
	font-size: 20px;
}

// !STYLES
.lightBackground {
	background-color: $light;
}

.darkBackground {
	color: $white;
	background-color: $black;
}

.hover {
	transition: 500ms;
	text-decoration: none;
	border: 3px solid $black;

	&:hover,
	&:focus {
		color: $black;
		background-color: $white;
		border-radius: 3px;
	}
}
