// !1500px
@media (max-width: 1500px) {
	.about img {
		height: 400px;
	}

	.skills {
		.skillsContainer {
			margin: 0;
			padding: 0;
		}
	}
}

// !1300px
@media (max-width: 1300px) {
	header .wrapper {
		flex-direction: column;

		h2 {
			margin-bottom: 0;
		}

		nav {
			margin: 0 1%;
		}
	}

	.about {
		.aboutContainer {
			flex-direction: column-reverse;

			.textContainer,
			.imageContainer {
				max-width: 80vw;
			}
		}

		img {
			display: 300px;
			margin: 0 auto;
		}
	}

	.projects {
		.projectExample {
			flex-direction: column !important;
			// border: 1px solid $dark;

			.imageContainer {
				margin: 0 auto;
			}
		}
	}
}

// !800px
@media (max-width: 800px) {
	.contact .wrapper {
		input,
		textarea,
		button {
			min-width: 80vw !important;
		}
	}
}

// !500px
@media (max-width: 500px) {
	header .wrapper {
		h1 {
			font-size: 3rem;
		}

		h2 {
			margin-bottom: 6%;
		}

		nav {
			display: none;
		}
	}

	.about .funFacts {
		display: flex !important;
		flex-direction: column;
	}

	.skills {
		.skillsContainer {
			grid-template-columns: 1fr 1fr !important;
			margin: auto;
			padding: 0;
		}
	}
}
