// *Body
@mixin bodyMixin {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
	letter-spacing: -1;
}

// *Nav
@mixin navMixin {
	font-family: "Montserrat", sans-serif;
	// TODO check if this works
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 6;
}

// *Form
@mixin formMixin {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	text-transform: uppercase;
}

// *Button
@mixin buttonMixin {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: lowercase;
}
