// !TYPOGRAHY

// *Headers
// @mixin h1Mixin {
h1 {
	font-family: "Rubik", sans-serif;
	font-size: 6.4rem;
	text-transform: lowercase;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: medium;
	font-size: 1.8rem;
}

h3 {
	font-family: "Rubik", sans-serif;
	font-size: 5.5rem;
	text-transform: lowercase;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	padding: 4%;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 2.4rem;
	text-transform: uppercase;
	// line-height: 150;
	letter-spacing: -3;
}

h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	// line-height: 150;
	letter-spacing: -3;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
	letter-spacing: -1;

	strong {
		font-size: 1.15rem;
	}
}

button {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: lowercase;
}

.grey {
	color: $grey;
	font-size: inherit;
}

.lineBreak {
	display: block;
}

form {
	font-family: montserrat;
	font-weight: bold;
	font-size: 1.2rem;
	text-transform: uppercase;
}
